{
   project =
   {
      description="➿ mulle-c-string-escape turns binary data into C strings";
      domain="github";
      name="mulle-c-string-escape";
      user="mulle-nat";
      repo="mulle-c-string-escape";
      homepage="https://github.com/mulle-nat/mulle-c-string-escape";
      license="BSD-3-Clause"
   };
}
